@mixin title-large {
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
}

@mixin title-normal {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: #FFFFFF;
}

@mixin title-small {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
}

@mixin title-card {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #79C8C7;
}

@mixin text-card {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

@mixin title-red {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F67E7E;
}

@mixin text-large {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

@mixin text-small {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
}


@mixin before {
    content: '';
    display: block;
    background: #79C8C7;
    width: 50px;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

@mixin btn-link1 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    padding: 10px 30px;

    &:hover {
        color: #000;
        background-color: #FFFFFF;
    }
}

@mixin btn-link2 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #012F34;
    border: 2px solid #012F34;
    border-radius: 24px;
    padding: 10px 30px;

    &:hover {
        color: #FFFFFF;
        background-color: #012F34;
    }
}